<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweets for {{record['user']}}</title>
<style type="text/css">
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
</style>
</head>
<body>
    <h1 style="font-size:130%; font-family:Verdana, sans-serif;">Tweets for {{record['user']}}</h1>
        <p style="font-size:80%; font-family:Verdana, sans-serif;">Median sentiment score: {{Median}} (-1.0 negative to 1.0 positive)
        </p>
<ul>
    {% for i in record['tweets']%}
    <li style="list-style:square; font-size:70%; font-family:Verdana, sans-serif; color:{{i['color']}}">
        {{i['score']}}: <a style="color:{{i['color']}}" href="https://twitter.com/{{record['user']}}/status/{{i['id']}}">{{i['text']}}</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>